@{
    ViewData["Title"] = "Malfunctions Table";
}

@model IEnumerable<MalfunctionViewModel>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div> 
    <div class="row">
        <div class="col">
             <h3>Malfunctions </h3> 
        </div>
        <div class="col-auto">
             <form method="post" asp-action="Edit" asp-controller="Malfunction">
                    <input type="hidden" name="id" value="0" class="form-control"/>
                    <button class="btn btn-primary" type="submit"> 
                        <i class="fa fa-plus-square fa-lg" aria-hidden="true"> </i> New Malfunction
                    </button>
            </form> 
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="text-center">
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"> Machine Name </th>
            <th scope="col">Created </th>
            <th scope="col">Status</th>
            <th scope="col">File/s</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
                @{
                    foreach (MalfunctionViewModel malfunction in Model)
                    {
                        <tr class="text-center">
                            <th> <i  class="fa fa-heartbeat fa-lg" aria-hidden="true"></i> </th>
                            <td> @malfunction.Name </td>
                            <td> @malfunction.Description </td>
                            <td> @malfunction.MachineName</td>
                            <td> @malfunction.Created </td>
                            <td>  
                                 <form method="post" asp-action="FixMalfunction" asp-controller="Malfunction">
                                    <input type="hidden" name="id" value="@malfunction.id" class="form-control"/>
                                    <button type="submit" class="btn btn-primary"> 
                                           <i class="fa fa-wrench fa-lg" aria-hidden="true">  </i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="get" asp-action="Download" asp-controller="Malfunction">
                                    <input type="hidden" name="file" value="@malfunction.File" class="form-control"/>
                                        <button class="btn" type="submit"> 
                                            <i class="fa fa-download fa-lg" aria-hidden="true"> </i>
                                        </button>
                                </form>
                            </td>
                            <td> 
                                <form method="post" asp-action="Edit" asp-controller="Malfunction">
                                    <input type="hidden" name="id" value="@malfunction.id" class="form-control"/>
                                    <button type="submit" class="btn btn-primary"> 
                                           <i class="fa fa-pencil fa-lg" aria-hidden="true">  </i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="post" asp-action="Delete" asp-controller="Malfunction">
                                    <input type="hidden" name="id" value="@malfunction.id" class="form-control"/>
                                        <button class="btn" type="submit"> 
                                            <i class="fa fa-trash fa-lg" aria-hidden="true">  </i>
                                        </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
        </tbody>
    </table>
    </div>
</div>